<h1> New Record</h1>
<form action="/ProductType" method="post">
<table>
    <tr> <td> Product ID: </td> <td> <input type="number" name="product_id" required> </td> </tr>
    <tr> <td> Jersey: </td> <td> <input type="text" name="jersey" required> </td> </tr>
    <tr> <td> Scarf: </td> <td> <input type="text" name="scarf" required> </td> </tr>
    <tr> <td> Hat: </td> <td> <input type="text" name="hat" required> </td> </tr>
    <tr> <td> Bobblehead: </td> <td> <input type="text" name="bobblehead" required> </td> </tr>
    <tr> <td> Posters: </td> <td> <input type="text" name="posters" required> </td> </tr> 
    <tr> <td> Price: </td> <td> <input type="text" name="price" required> </td> </tr>   
    <tr> <td> Homepage: </td> <td> <input type="checkbox" name="homepage" > </td> </tr>   
</table>
<button type="Submit">Save</button>
</form>

<tr>
    <td> Category ID: </td>
    <td> <select name="category_id" required>
        <optgroup label="Select Category">
            <% for (var i = 0; i < category.length; i++) { %>
                <option value=<%= category[i].category_id %>>
                <%= category[i].categoryname %> </option>
            <% } %>
        </optgroup>
     </select>
     </td>
 </tr>

 <b>Price: <%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(recref.saleprice) %> </b> <br/>