<h1> New Record</h1>
<form action="/Review" method="post">
<table>
    <tr> <td> Review ID: </td> <td> <input type="number" name="review_id" required> </td> </tr>
    <tr> <td> Product ID: </td> <td> <input type="number" name="product_id" required> </td> </tr>
    <tr> <td> Customer ID: </td> <td> <input type="number" name="cusomer_id" required> </td> </tr>
    <tr> <td> Submitdate: </td> <td> <input type="date" name="submitdate" required> </td> </tr>
    <tr> <td> Description: </td> <td> <input type="text" name="description" required> </td> </tr>
    <tr> <td> Rating: </td> <td> <input type="number" name="rating" required> </td> </tr>   
</table>
<button type="Submit">Save</button>
</form>
