<table bgcolor='red' width='100%'> <tr>
    <td width='20%' align='left'>
    <a href="/"><img src="/public/images/Arsenal.jpg" width="70" height="40">
    </a></td>
     <td width='60%' align='center'><h1>The Vintage Arsenal</h1></td>
     <td width='10%' align='center'>Jersey</td>
     <td width='10%' align='center'>Scarfs</td>
     <td width='10%' align='center'>Memorabillia</td>
     <td width='10%' align='center'>Cart</td>
    </tr></table>
    <p> SEARCH CONTROL </p>
    <ul>
    <li> <a href="/">Home</a> </li>
    <li> <a href="/about">About Us</a> </li>
    <li> <a href="/contact">Contact Us</a> </li>
    </ul>