<table bgcolor='red' width='100%'> <tr>
    <td width='20%' align='left'>
    <a href="/"><img src="/images/Arsenal.jpg" width="70" height="40">
    </a></td>
     <td width='60%' align='center'><h1>The Vintage Arsenal</h1></td>
     <td width='10%' align='center'>Jersey</td>
     <td width='10%' align='center'>Scarfs</td>
     <td width='10%' align='center'>Memorabillia</td>
     <td width='10%' align='center'>Cart</td>
    </tr></table>
    <p>
    <form action="/search" method="get">
        <p>Search: <input type="text" name="searchcriteria">
            <input type="Submit" value="Go">
        </p>
    </p>   
    </form>
    <ul>
    <li> <a href="/">Home</a> </li>
    <li> <a href="/about">About Us</a> </li>
    <li> <a href="/contact">Contact Us</a> </li>
    <li> <a href="/privacy">Privacy Settings</a> </li>
    <li> <a href="/help">Help </a> </li>
    <li> <a href="/Customer">Customer</a> </li>
    <li> <a href="/ProductType">Product Type</a> </li>
    <li> <a href="/Sale">Sale</a> </li>
    <li> <a href="/Review">Review</a> </li>
    <li> <a href="/Rewards">Rewards</a> </li>
    <li> <a href="/report">Reports</a> </li>
    </ul>

    <% if(session.customer_id > 0) { %>
        <b> Hello <b> <%= session.custname %>! </b> </br>
        <a href='/customer/logout'>Logout</a>
        <% } else { %>
        <a href='/customer/register'>New Customer</a> </br>
        <a href='/customer/login'>Login</a>
        <% } %>