<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Help</h1>
    <P>If you are in need of assistance regarding an order please check our contact page to guide you</P>
   <p>If you have any general querries please contact us on services@thevintagearsenal.com</p>
    <p>Thank you</p>
</body>
</html>