<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to The Vintage Arsenal</p>
    <p> Zia Farrukh Shaikh</p>

    <im src="/public/images/logo.jpg">
  </body>
</html>
