<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Privacy Setting</h1>
    <p>Your information is secure.</p>
    <p>We at the Vintage Arsenal work under a great moral idea and understanding of keeping information private.</p>
    <p>Whatever the user orders it is completely annoynmoys and we do not share with the rest of our members.</p>
    <p>The mercahnts that we buy our products and sell them back to you are completely kept private. We do not want any information to be spread</p>
    <p>Thank you</p>
</body>
</html>