<h1> New Record</h1>
<form action="/Rewards" method="post">
<table>
    <tr> <td> Rewards ID: </td> <td> <input type="number" name="rewards_id" required> </td> </tr>
    <tr> <td> Customer ID: </td> <td> <input type="number" name="cusomer_id" required> </td> </tr>
</table>
<button type="Submit">Save</button>
</form>
