<h1> Reports</h1>
<p>Available Reports are attached below:</p>
<p>
    <a href="/report/Customer">Customer Listing</a> <br/>
    <a href="/report/ProductType">Product Listing</a>
    <a href="/report/Sale">Sale Listing</a>
</p>