<h1> New Record</h1>
<form action="/Sale" method="post">
<table>
    <tr> <td> Sale ID: </td> <td> <input type="number" name="sale_id" required> </td> </tr>
    <tr> <td> Product ID: </td> <td> <input type="number" name="product_id" required> </td> </tr>
    <tr> <td> Customer ID: </td> <td> <input type="number" name="cusomer_id" required> </td> </tr>
    <tr> <td> First Name: </td> <td> <input type="text" name="firstname" required> </td> </tr>
    <tr> <td> Last Name: </td> <td> <input type="text" name="lastname" required> </td> </tr>
    <tr> <td> Email: </td> <td> <input type="text" name="email" required> </td> </tr>
    <tr> <td> Sale Price: </Std> <td> <input type="text" name="salePrice" required> </td> </tr>
    <tr> <td> Delivery Fee: </td> <td> <input type="text" name="deliveryFee" required> </td> </tr>
    <tr> <td> Delivery Date: </td> <td> <input type="text" name="deliveryDate" required> </td> </tr>   
</table>
<button type="Submit">Save</button>
</form>
