<h1> New Record</h1>
<form action="/Customer" method="post">
<table>
    <tr> <td> Customer ID: </td> <td> <input type="number" name="cusomer_id" required> </td> </tr>
    <tr> <td> First Name: </td> <td> <input type="text" name="firstname" required> </td> </tr>
    <tr> <td> Last Name: </td> <td> <input type="text" name="lastname" required> </td> </tr>
    <tr> <td> Email: </td> <td> <input type="text" name="email" required> </td> </tr>
    <tr> <td> Phone: </td> <td> <input type="number" name="phone" required> </td> </tr>
    <tr> <td> Street: </td> <td> <input type="text" name="Street" required> </td> </tr>
    <tr> <td> City: </td> <td> <input type="text" name="city" required> </td> </tr>
    <tr> <td> State: </td> <td> <input type="text" name="state" required> </td> </tr>
    <tr> <td> Zip Code: </td> <td> <input type="number" name="zipcode" required> </td> </tr>   
</table>
<button type="Submit">Save</button>
</form>
